{% load static %}
<div class="card mb-3">
  <div class="row">
    <div class="col-md-3">
      <img
        src="{% static 'blog/img/1.jpg' %}"
        alt=""
        srcset=""
        class="img-fluid"
      />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'blog_details' 1%}"> Komple Web Geliştirme Kursu</a>
        </h5>
        <div class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque,
          adipisci.
        </div>
      </div>
    </div>
  </div>
</div>
