{% extends 'base.html' %} {% load static %} {% block css_files %} <link
rel="stylesheet" href="{%static "blog/css/style.css"%}"> {% endblock %}
<br />
{% block content %} <br />

{%block title%}HomePage{%endblock%}

<div class="container mt-3">
    <div class="row">
      <div class="col-3">{% include "partials/_categories.html" %}</div>
      <div class="col-9">
        <h1>HomePage</h1>
        <hr>
        {% for blog in blogs %}
        {% if blog.is_home and blog.is_activate %}
        {% include "blog/partials/_blog.html" %}
        {% endif %}
        {% endfor %}
        
        </div>
      </div>
    </div>
</div>

{% endblock content %} {% block js_files %}
<script src="{% static 'blog/js/script.js' %}"></script>
{% endblock %}
